<div class="popup-container">

  <!-- Popup start-->
  <div class="whats-container" whats-popup-status="1" style="display: none;">

    <!-- Close Button start -->
    <div class="whats-btn-close">
      <i class="icon-close" aria-hidden="true"></i>
    </div>
    <!-- Close Button end -->

    <div class="user-image">
      <img src="/assets/images/foto_1.png" style="max-width: 100%" alt="">
    </div>
    <div class="user-content">
      <div class="user-info">
        <h3 class="user-name">Luciano Carmona Aguilar</h3>
        <!-- <span>...</span> -->
      </div>
      <p>¡Hola! Bienvenido(a), estamos para ayudarte en tus dudas.</p>

      <!-- Input start -->
      <div class="row input-container">
        <div class="col-10 p-0">
          <input type="text" class="whats-input-text" placeholder="¿Cuáles son tus dudas?" autocomplete="off">
        </div>
        <div class="col-2 p-0">
          <svg class="whats-btn-send" version="1.1" id="Layer_1" xmlns="//www.w3.org/2000/svg"
            xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40"
            style="enable-background:new 0 0 40 40;" xml:space="preserve">
            <path fill="#25D366" d="M38.9,19.8H7.5L2,39L38.9,19.8z"></path>
            <path fill="#179045" d="M38.9,19.8H7.5L2,0.7L38.9,19.8z"></path>
          </svg>
        </div>
      </div>
      <!-- .Input end -->
    </div>
    
  </div>
  <!-- .Popup end-->

  <div class="whats-btn-open">
    <i class="fab fa-whatsapp" aria-hidden="true"></i>
    <span>Habla por Whatsapp</span>
  </div>

</div>