body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: #666;
  font-size: 14px;
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
  // padding-bottom: 450px;
}

h1,
h2 {
  color: #3771c9;
  margin-bottom: 1.5rem;
}

h2.title {
  font-family: "museo_sans500" !important;
  color: #2f2f2f;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  text-transform: inherit;
  &.sub-title {
    font-size: 22px !important;
  }
}

.ficha-tecnica {
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    border-color: #f1f1f1 !important;
  }
}

.text-inportant-resalt {
  color: #3771c9;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}

// Increment Number
.content-increment-number {
  margin-top: -47px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #f8f9fa;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  padding: 1rem 0;
  .increment-number {
    font-size: 28px;
    color: #3771c9;
    font-weight: 900;
    font-family: "museo_sans500" !important;
  }
}

h6.text-incvrement-number {
  font-size: 16px;
  margin-top: 0;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}

section {
  padding: 80px 0;
  position: relative;
  z-index: 2;
}

.bg-light {
  z-index: 1;
  position: relative;
}

.container {
  max-width: 1199px;
}

// Blog

.last-dhc-projects {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border: 1px solid #f9f9f9;
  padding-bottom: 1.5rem;
  &:hover {
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  .calendar-day {
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 75px;
    width: 75px;
    border-radius: 6px;
    border: 1px solid #3771c9;
    background-color: #3771c9;
    color: #ffffff;
    box-shadow: 0 20px 60px 0 rgb(0, 61, 136);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    span {
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span:first-child {
      font-weight: 600;
      font-size: 22px;
    }
    span:last-child {
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 1px;
      border-top: 1px solid #eeeeee;
    }
  }
  .blog-description {
    padding: 0 1rem;
    h2 {
      margin-top: 0.5rem;
      font-size: 18px;
      font-weight: 700;
      color: #666;
    }
    p {
      text-align: justify;
      font-size: 13px;
      padding: 0 0.5rem;
    }
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    a {
      font-size: 13px;
      color: #0077e2;
    }
  }
}

// Maps
.section-map {
  background-color: white;
}

.container-contaco-map {
  widows: 100%;
  height: 100vh;
  .container {
    height: 100%;
    .container-target-map {
      height: 100%;
    }
  }
  #map {
    position: absolute;
    top: 0;
    left: 0;
    widows: 100%;
    height: 100%;
  }
}

.container-target-map {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 410px;
  background-color: #3771c9;
  z-index: 2;
  padding: 50px 40px;
  min-height: 500px;

  h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    vertical-align: middle;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 25px;
    letter-spacing: 0;
  }
  address {
    margin-bottom: 3rem;
    font-style: normal;
    line-height: 1.42857143rem;
    .business-address-row,
    .business-phone-row,
    .business-email-row {
      display: block;
      margin-bottom: 20px;
      span,
      i,
      a {
        color: #fff;
        line-height: 1.4;
      }
      i {
        margin-right: 20px;
        font-size: 16px;
        width: 16px;
        display: block;
        float: left;
        text-align: center;
      }
    }
  }

  .business-info-schedule {
    .business-info-day {
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      color: #fff;
      line-height: 45px;
    }
  }
}

footer {
  display: block;
  width: 100%;
  visibility: visible;

  .row {
    margin-bottom: 60px;
    ul {
      list-style-type: none;
      padding-left: 0;
      line-height: 1.7;
      li {
        margin-bottom: 0.5rem;
      }
      a {
        color: #d2d1d1;
        text-decoration: none;
      }
    }
    h5 {
      font-size: 18px;
      color: white;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 1.5rem;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .social-networks {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      a {
        font-size: 22px;
        color: #f9f9f9;
        transition: 0.2s;
        margin: 0.5rem;
        padding: 0.3rem 0;
        &:first-child {
          border-right: 1px solid #656565;
          padding-right: 1.5rem;
        }
      }
      .social-networks a:hover {
        text-decoration: none;
      }

      .facebook:hover {
        color: #0077e2;
      }

      .google:hover {
        color: #ef1a1a;
      }

      .twitter:hover {
        color: #00aced;
      }
    }
    .btn {
      color: white;
      background-color: #3771c9;
      border-radius: 20px;
      border: none;
      width: 150px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      line-height: 25px;
    }
  }
  .upper-footer {
    padding: 2rem 0;
    width: 100%;
    background: #3c3d41;
  }
  .lower-footer {
    padding: 1rem;
    height: 60px;
    width: 100%;
    background: #333333;
    text-align: center;
    p {
      color: #cccccc;
    }
  }
}

//  Parallax

.target-parallax {
  background-image: url("/assets/images/page-image.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #ffffff;
  height: 800px;
  max-height: 800px;
  padding: 0;
  .wrapper-parallax {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    h2 {
      font-family: "museo_sans500" !important;
      color: #2f2f2f;
      font-weight: 700;
      font-size: 34px;
      line-height: 45px;
      text-transform: inherit;
    }
  }
  .parallax-info {
    max-width: 500px;
  }
}

// Card
.content-card-profile {
  background-color: #f8f9fa !important;
  margin-top: -1px;

  .wrapper-card-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    .card-profile {
      max-width: 350px;
      .card-profile-message {
        position: relative;
        border: 0;
        border-radius: 0;
        padding: 35px;
        margin-top: 0;
        margin-bottom: 30px;
        background-color: #ffffff;
        box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        &::before {
          content: "";
          border-style: solid;
          border-width: 10px;
          position: absolute;
          bottom: -20px;
          top: auto;
          border-color: #fff transparent transparent transparent;
          border-top-color: #ffffff;
          left: 50%;
          margin-left: -10px;
        }
        h5 {
          color: #2f2f2f;
          font-size: 16px;
          margin-top: 0;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 22px;
          margin-bottom: 15px;
        }
      }
      .card-profile-info {
        text-align: center;
        padding: 1rem;
        h4 {
          color: #2f2f2f;
          font-size: 16px;
          font-weight: 700;
          line-height: 1;
          margin: 0;
          margin-bottom: 8px;
          margin-top: 20px;
        }
        p {
          margin-bottom: 30px;
          display: block;
          font-style: normal;
          line-height: 1;
          color: inherit;
        }
      }
    }
  }
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  background-image: url(../../assets/images/overaly.png);
  background-position: top left;
  background-repeat: repeat;

  .navbar-nav li a {
    color: #fff !important;
  }

  .wrapper-content-cover {
    height: calc(100% - 91px);
    margin-top: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-info {
      font-family: "museo_sans500";
      text-transform: uppercase;
      h5 {
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 3rem;
        display: block;
        color: #f1f1f1;
        text-align: center;
      }
    }
  }
}

.cnt-title {
  font-size: 28px;
  margin-bottom: 2.5rem;
}

.container-gallery {
  padding-bottom: 2rem;
}

.form-control {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border-radius: 3px !important;
  border-color: #3771c9;
}

// Separador

.separador {
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  position: relative;
  padding-left: 0.5rem;
  &::after {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffffff;
    bottom: -14px;
    left: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #3771c9;
    bottom: -15px;
    left: 1rem;
  }

  &.center {
    text-align: center;
    &::after {
      left: 50%;
      margin-left: -7.5px;
    }
    &::before {
      left: 50%;
      margin-left: -7.5px;
    }
  }
}

.separador-gallery {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2rem 0;
  span {
    font-size: 18px;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 1px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px solid #3771c9;
    margin-top: -1px;
  }
}

@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .section-map {
    background-color: #3771c9;
  }
  .container-target-map {
    height: auto !important;
    position: relative !important;
    width: 100% !important;
  }
  .target-parallax {
    background-size: 100% !important;
    height: 500px !important;
  }
  footer {
    text-align: center;
  }
}
