.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 1rem;
  background-color: #ffffff;

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.1);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  .service-icon {
    img {
      width: 50px;
      &.c-success {
        width: 80px;
      }
    }
    span {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      color: #3771c9;
      text-align: center;
    }
  }
  .service-description {
    min-height: 50px;
    padding: 2rem 1.5rem;
    margin-top: 1rem;
    border-top: 1px solid #3771c9;
    text-align: center;
    span {
      color: #3771c9;
      letter-spacing: 1px;
      font-weight: 500;
    }
  }
}

h2.title-section {
  border-left: 3px solid #2b83ee;
  padding-left: 1rem;
  font-size: 22px;
}
